body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiAutocomplete-option {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.headerIndent {
  width: 100%;
  margin: 10px 0 20px;
  text-align: left;
  line-height: 0.1em;
  border-bottom: 1px solid #000;
  pointer-events: none;
}

.headerIndent span {
  padding-right: 5px;
  background-color: white;
}
